* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

div {
    margin: auto;
    background-color: #ccc;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div p {
    justify-self: center;
}